html {
 // GLOBAL COLOURS
 --clr-highlight: hsl(212, 100%, 50%);
 --clr-main-bg: hsl(227, 100%, 98%);
 --clr-card-bg: hsl(0, 0%, 100%);
 --clr-text: hsl(217, 35%, 45%);
 --clr-text-secondary: hsl(217, 20%, 51%);
 --clr-heading: hsl(217, 21%, 21%);
 --clr-unavailable: hsl(216, 28%, 72%);

 // THEME TOGGLE
 --clr-toggle-hover: black;
}

